@model IEnumerable<ListaPostow.Models.Db.Chanel>
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">        
        <nav class="bd-links">
            @*class="list-group menu-partial-view"*@
            @foreach (var item in Model)
            {
                <a class="bd-toc-link" asp-controller="Chanel" asp-action="Details" asp-route-id="@item.ID">
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-primary badge-pill" style="background-color: @item.Color">@item.Posts.Count</span>
                        @item.Name
                    </div>
                </a>
            }
        </nav>
    </div>