    <header class="navbar navbar-expand navbar-dark flex-md-row bd-navbar bg-dark">
        <div class="navbar-nav bd-navbar-nav flex-row">
            <a class="nav-item" href="/">
                <h3>Posty - warsztat</h3>
            </a>
        </div>
        <div  class="ml-md-auto">
            @await Html.PartialAsync("_HeaderNavPartialView")
        </div>
    
    </header>

  
