@model EditPostViewModel
@{
    ViewData["Title"] = "Edycja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-5">
    <div class="container col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.ID" />
            <input type="hidden" asp-for="Post.UserId" />
            <input type="hidden" asp-for="Post.CreateDate" />
            <input type="hidden" asp-for="ChanelID" />
            <h2>Post</h2>
            <div class="form-group">
                <label class="control-label">Post</label>
                <textarea asp-for="Post.Text" class="form-control"></textarea>
                <span asp-validation-for="Post.Text" class="text-danger"></span>
            </div>
            <div class="btn-group btn-group-sm">
                <div>
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
                <div>
                    <a href="javascript:history.back()" class="btn btn-danger">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
</div>

