@model ListaPostow.Models.Db.Chanel

@{
    ViewData["Title"] = "Kanał";
}

<div class="container pt-5">
    <div class="container col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Nowy kanał</h2>
            <div class="form-group">
                <label class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Kolor</label>
                <input type="color" asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="btn-group btn-group-sm">
                <div>
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="List" asp-controller="Chanel" class="btn btn-danger">Anuluj</a>
                </div>
            </div>
            
        </form>
    </div>
</div>



